# Default values.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image:
  # -- The repository of the Quorum container image
  repository: "${repo}"
  # -- Image Pull Policy
  pullPolicy: Always
  # -- Image tag
  tag: "${tag}"
  # -- sha256 digest of the image.
  # Do not add the prefix "@sha256:".
  # <!-- # pragma: allowlist secret -->
  sha: "${sha}"  # pragma: allowlist secret